@import 'theme';

.button {
     display: inline-block;
     line-height: 3.6rem;
     padding: 0 10px;
     border-radius: 4px;
     text-align: center;
     font-weight: bold;

     &:hover {
          color: $white;
          background: $brand-cta;
          text-decoration: none;
     }
}

.button__primary {
     border-radius: 4px;
     background-color: $white;
     color: $brand-cta;
     box-shadow: 0 2px 2px 0 rgba(35,10,74,0.15);
     text-transform: uppercase;
}

.button__large {
     line-height: 42px;
     padding-left: 20px;
     padding-right: 20px;
}

.button__cta {
     text-transform: uppercase;
     box-shadow: 0 6px 20px 0 rgba(0,0,0,0.15);
     color: $white;
     font-weight: bold;


     @include tablet {
          margin-left: 10px;
     }
}

.appStoreButtons__item img {
     width: 150px;
     height: 45px;
     max-width: none;
     display: inline-block;
}

.button__submit {
     height: 45px;
     width: 115px;
     border-radius: 4px;
     background-color: $brand-primary;
     margin: 20px auto;
     display: block;
}
