.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: 50% 50% no-repeat;
    background-size: contain;
}

.icon__number {
    background: linear-gradient(133.62deg, #2B91FE 0%, #485FFF 100%);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.8em;
    text-align: center;
    width: 50px;
}

.icon__washing {
    background-image: url('/assets/images/laundry-icon.png');
}

.icon__drycleaning {
    background-image: url('/assets/images/dry-cleaner-icon.png');
}

.icon__tailoring {
    background-image: url('/assets/images/tailor-icon.png');
}
