@import 'theme';

.mainHomePageHero {
    .section__content {
        position: relative;
    }
    text-align: center;

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @include screen-sm {
        text-align: left;
    }

    .paragraph {
        color: $body-text;
        font-weight: $font-weight-light;
    }

    .mask {
        background-color: $background-mask;

        @include tablet {
            display: none;
        }
    }
}
