@import 'theme';




.stepsToGetStarted {

    .image{
        display: none;

        @include screen-md {
            display: block;
            padding-top:60px;
        }
        @include tablet {
            padding-top: 25px;
        }
    }

    &__content {
        padding-left: 25px;

        @include desktop {
            padding-top: 20px;
        }
    }
}
