@import 'theme';

// .stepsToGetStarted {
//     &__image {
//         display: none;
//         max-height: 200px;
//         @include screen-sm {
//             display: block;
//         }
//         padding: 0 15px;
//     }
// }
.image{
    display: none;
    @include screen-md {
    display: block;
  position: relative;
  width: 100%;
  height: 250px;
}
}


.stepsToGetStarted {

    &__content {
    padding-left: 25px;
    }


}
