
$white: #FFFFFF;   //white



$body-text: rgba(255,255,255,0.7);
$body-text-secondary: #6B7C93;
$color-dimmedText: #A0AEC0; //grey

$background-primary: #FFF;
$background-secondary: #f8f8f8;

$background-mask: rgba(55, 85, 98, 0.37);

$brand-primary: #2196F3; //blue
$brand-secondary: #2196F3; //blue
$brand-cta: #2B91FE;

$color-washing: #9850DC;
$color-drycleaning: #13A0E2;
$color-tailoring: #FF4B75;

$color-deepSapphireBlue: #17213A;
$color-footer: #121A2E;
$color-aliceBlue: #F6F9FC;
$color-mainHomePage: rgba(7,13,28,0.52); //background for all mainHomePage

$color-gradient-washing: linear-gradient(90deg, #9850DC 0%, #DB63A6 100%);
$color-gradient-drycleaning: linear-gradient(90deg, #13A0E2 0%, #01D7C9 100%);
$color-gradient-tailoring: linear-gradient(90deg, #FF4B75 0%, #FFADA0 100%);
$color-gradient-primary: linear-gradient(133.62deg, #2B91FE 0%, #485FFF 100%);



$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight: normal;
$font-weight-semibold: 600;
$font-weight-bold: 900;

$header-height: 80px;

$breakpoint-small: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd-desktop: 1280px;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin hd-desktop {
  @media (min-width: #{$breakpoint-hd-desktop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: #{$breakpoint-small}) {
    @content;
  }
}


/* declaration-block-semicolon */
$gutter-sm: 10px;
$gutter: 15px;
$gutter-lg: 30px;

$radius: 2px;
$radius-large: 5px;

$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family: 'Proxima Nova', $font-family-system;
$font-family-monospace: "SFMono-Regular", Menlo, "Source Code Pro", Consolas, "Liberation Mono", Courier, monospace;
$font-size: 1.4rem;

$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.7rem;
$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight: normal;
$font-weight-semibold: 600;
$font-weight-bold: bold;

$shadow-1: 0 1px 1px rgba(0, 0, 0, 0.15);
$shadow-2: 0 2px 2px rgba(0, 0, 0, 0.15);

$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 610px;
$screen-lg: 800px;
$screen-xl: 1100px;
$screen-hd: 1920px;

$palette-red50: #ffebee;
$palette-red100: #ffcdd2;
$palette-red200: #ef9a9a;
$palette-red300: #e57373;
$palette-red400: #ef5350;
$palette-red500: #f44336;
$palette-red600: #e53935;
$palette-red700: #d32f2f;
$palette-red800: #c62828;
$palette-red900: #b71c1c;
$palette-redA100: #ff8a80;
$palette-redA200: #ff5252;
$palette-redA400: #ff1744;
$palette-redA700: #d50000;
$palette-pink50: #fce4ec;
$palette-pink100: #f8bbd0;
$palette-pink200: #f48fb1;
$palette-pink300: #f06292;
$palette-pink400: #ec407a;
$palette-pink500: #e91e63;
$palette-pink600: #d81b60;
$palette-pink700: #c2185b;
$palette-pink800: #ad1457;
$palette-pink900: #880e4f;
$palette-pinkA100: #ff80ab;
$palette-pinkA200: #ff4081;
$palette-pinkA400: #f50057;
$palette-pinkA700: #c51162;
$palette-purple50: #f3e5f5;
$palette-purple100: #e1bee7;
$palette-purple200: #ce93d8;
$palette-purple300: #ba68c8;
$palette-purple400: #ab47bc;
$palette-purple500: #9c27b0;
$palette-purple600: #8e24aa;
$palette-purple700: #7b1fa2;
$palette-purple800: #6a1b9a;
$palette-purple900: #4a148c;
$palette-purpleA100: #ea80fc;
$palette-purpleA200: #e040fb;
$palette-purpleA400: #d500f9;
$palette-purpleA700: #A0F;
$palette-deepPurple50: #ede7f6;
$palette-deepPurple100: #d1c4e9;
$palette-deepPurple200: #b39ddb;
$palette-deepPurple300: #9575cd;
$palette-deepPurple400: #7e57c2;
$palette-deepPurple500: #673ab7;
$palette-deepPurple600: #5e35b1;
$palette-deepPurple700: #512da8;
$palette-deepPurple800: #4527a0;
$palette-deepPurple900: #311b92;
$palette-deepPurpleA100: #b388ff;
$palette-deepPurpleA200: #7c4dff;
$palette-deepPurpleA400: #651fff;
$palette-deepPurpleA700: #6200ea;
$palette-indigo50: #e8eaf6;
$palette-indigo100: #c5cae9;
$palette-indigo200: #9fa8da;
$palette-indigo300: #7986cb;
$palette-indigo400: #5c6bc0;
$palette-indigo500: #3f51b5;
$palette-indigo600: #3949ab;
$palette-indigo700: #303f9f;
$palette-indigo800: #283593;
$palette-indigo900: #1a237e;
$palette-indigoA100: #8c9eff;
$palette-indigoA200: #536dfe;
$palette-indigoA400: #3d5afe;
$palette-indigoA700: #304ffe;
$palette-blue50: #e3f2fd;
$palette-blue100: #bbdefb;
$palette-blue200: #90caf9;
$palette-blue300: #64b5f6;
$palette-blue400: #42a5f5;
$palette-blue500: #2196f3;
$palette-blue600: #1e88e5;
$palette-blue700: #1976d2;
$palette-blue800: #1565c0;
$palette-blue900: #0d47a1;
$palette-blueA100: #82b1ff;
$palette-blueA200: #448aff;
$palette-blueA400: #2979ff;
$palette-blueA700: #2962ff;
$palette-lightBlue50: #e1f5fe;
$palette-lightBlue100: #b3e5fc;
$palette-lightBlue200: #81d4fa;
$palette-lightBlue300: #4fc3f7;
$palette-lightBlue400: #29b6f6;
$palette-lightBlue500: #03a9f4;
$palette-lightBlue600: #039be5;
$palette-lightBlue700: #0288d1;
$palette-lightBlue800: #0277bd;
$palette-lightBlue900: #01579b;
$palette-lightBlueA100: #80d8ff;
$palette-lightBlueA200: #40c4ff;
$palette-lightBlueA400: #00b0ff;
$palette-lightBlueA700: #0091ea;
$palette-cyan50: #e0f7fa;
$palette-cyan100: #b2ebf2;
$palette-cyan200: #80deea;
$palette-cyan300: #4dd0e1;
$palette-cyan400: #26c6da;
$palette-cyan500: #00bcd4;
$palette-cyan600: #00acc1;
$palette-cyan700: #0097a7;
$palette-cyan800: #00838f;
$palette-cyan900: #006064;
$palette-cyanA100: #84ffff;
$palette-cyanA200: #18ffff;
$palette-cyanA400: #00e5ff;
$palette-cyanA700: #00b8d4;
$palette-teal50: #e0f2f1;
$palette-teal100: #b2dfdb;
$palette-teal200: #80cbc4;
$palette-teal300: #4db6ac;
$palette-teal400: #26a69a;
$palette-teal500: #009688;
$palette-teal600: #00897b;
$palette-teal700: #00796b;
$palette-teal800: #00695c;
$palette-teal900: #004d40;
$palette-tealA100: #a7ffeb;
$palette-tealA200: #64ffda;
$palette-tealA400: #1de9b6;
$palette-tealA700: #00bfa5;
$palette-green50: #e8f5e9;
$palette-green100: #c8e6c9;
$palette-green200: #a5d6a7;
$palette-green300: #81c784;
$palette-green400: #66bb6a;
$palette-green500: #4caf50;
$palette-green600: #43a047;
$palette-green700: #388e3c;
$palette-green800: #2e7d32;
$palette-green900: #1b5e20;
$palette-greenA100: #b9f6ca;
$palette-greenA200: #69f0ae;
$palette-greenA400: #00e676;
$palette-greenA700: #00c853;
$palette-lightGreen50: #f1f8e9;
$palette-lightGreen100: #dcedc8;
$palette-lightGreen200: #c5e1a5;
$palette-lightGreen300: #aed581;
$palette-lightGreen400: #9ccc65;
$palette-lightGreen500: #8bc34a;
$palette-lightGreen600: #7cb342;
$palette-lightGreen700: #689f38;
$palette-lightGreen800: #558b2f;
$palette-lightGreen900: #33691e;
$palette-lightGreenA100: #ccff90;
$palette-lightGreenA200: #b2ff59;
$palette-lightGreenA400: #76ff03;
$palette-lightGreenA700: #64dd17;
$palette-lime50: #f9fbe7;
$palette-lime100: #f0f4c3;
$palette-lime200: #e6ee9c;
$palette-lime300: #dce775;
$palette-lime400: #d4e157;
$palette-lime500: #cddc39;
$palette-lime600: #c0ca33;
$palette-lime700: #afb42b;
$palette-lime800: #9e9d24;
$palette-lime900: #827717;
$palette-limeA100: #f4ff81;
$palette-limeA200: #eeff41;
$palette-limeA400: #c6ff00;
$palette-limeA700: #aeea00;
$palette-yellow50: #fffde7;
$palette-yellow100: #fff9c4;
$palette-yellow200: #fff59d;
$palette-yellow300: #fff176;
$palette-yellow400: #ffee58;
$palette-yellow500: #ffeb3b;
$palette-yellow600: #fdd835;
$palette-yellow700: #fbc02d;
$palette-yellow800: #f9a825;
$palette-yellow900: #f57f17;
$palette-yellowA100: #ffff8d;
$palette-yellowA200: #FF0;
$palette-yellowA400: #ffea00;
$palette-yellowA700: #ffd600;
$palette-amber50: #fff8e1;
$palette-amber100: #ffecb3;
$palette-amber200: #ffe082;
$palette-amber300: #ffd54f;
$palette-amber400: #ffca28;
$palette-amber500: #ffc107;
$palette-amber600: #ffb300;
$palette-amber700: #ffa000;
$palette-amber800: #ff8f00;
$palette-amber900: #ff6f00;
$palette-amberA100: #ffe57f;
$palette-amberA200: #ffd740;
$palette-amberA400: #ffc400;
$palette-amberA700: #ffab00;
$palette-orange50: #fff3e0;
$palette-orange100: #ffe0b2;
$palette-orange200: #ffcc80;
$palette-orange300: #ffb74d;
$palette-orange400: #ffa726;
$palette-orange500: #ff9800;
$palette-orange600: #fb8c00;
$palette-orange700: #f57c00;
$palette-orange800: #ef6c00;
$palette-orange900: #e65100;
$palette-orangeA100: #ffd180;
$palette-orangeA200: #ffab40;
$palette-orangeA400: #ff9100;
$palette-orangeA700: #ff6d00;
$palette-deepOrange50: #fbe9e7;
$palette-deepOrange100: #ffccbc;
$palette-deepOrange200: #ffab91;
$palette-deepOrange300: #ff8a65;
$palette-deepOrange400: #ff7043;
$palette-deepOrange500: #ff5722;
$palette-deepOrange600: #f4511e;
$palette-deepOrange700: #e64a19;
$palette-deepOrange800: #d84315;
$palette-deepOrange900: #bf360c;
$palette-deepOrangeA100: #ff9e80;
$palette-deepOrangeA200: #ff6e40;
$palette-deepOrangeA400: #ff3d00;
$palette-deepOrangeA700: #dd2c00;
$palette-brown50: #efebe9;
$palette-brown100: #d7ccc8;
$palette-brown200: #bcaaa4;
$palette-brown300: #a1887f;
$palette-brown400: #8d6e63;
$palette-brown500: #795548;
$palette-brown600: #6d4c41;
$palette-brown700: #5d4037;
$palette-brown800: #4e342e;
$palette-brown900: #3e2723;
$palette-grey50: #fafafa;
$palette-grey100: #f5f5f5;
$palette-grey200: #EEE;
$palette-grey300: #e0e0e0;
$palette-grey400: #bdbdbd;
$palette-grey500: #9e9e9e;
$palette-grey600: #757575;
$palette-grey700: #616161;
$palette-grey800: #424242;
$palette-grey900: #212121;
$palette-blueGrey50: #eceff1;
$palette-blueGrey100: #cfd8dc;
$palette-blueGrey200: #b0bec5;
$palette-blueGrey300: #90a4ae;
$palette-blueGrey400: #78909c;
$palette-blueGrey500: #607d8b;
$palette-blueGrey600: #546e7a;
$palette-blueGrey700: #455a64;
$palette-blueGrey800: #37474f;
$palette-blueGrey900: #263238;
$palette-black: #000;
$palette-white: #FFF;

$color-audentio: #55abdc;

$color-primary: #546FF8;
$color-secondary: #45d4ba;

$color-base: #354052;
//$color-general: #bdbdbd;
$color-general: $palette-blueGrey100;

$color-info: #39D4F1;
$color-danger: #F74C67;
$color-warning: #FFBE17;
$color-success: #05D6B2;

$color-blue: #4391F2;
$color-teal: #2BDCD7;
$color-red: #FE5252;
$color-orange: #FFA437;
$color-purple: #6671FF;

$color-xenforo: $color-blue;
$color-mybb: $color-red;
$color-wordpress: $color-teal;
$color-phpbb: $color-orange;
$color-fifthSoftwareHere: $color-purple;

$color-mainPanel: #222C3C;
$color-mainBackground: #FFF;
$color-secondaryBackground: #EFF3F6;
$color-emphasisBackground: #222C3C;
$color-secondaryPanel: #1D2531;
$color-canvasBackground: $color-emphasisBackground;
$color-secondaryTitleBar: #F4F6FA;
$color-darkText: #354052;
$color-contentText: #252f47;
$color-secondaryText: #5B6779;
$color-dimmedText: #7F8FA4;
$color-mutedText: #C8D2DF;
$color-border: #dce4e8; //#DFE6ED;
$color-border-dark: darken($color-border, 15%); //#DFE6ED;
$color-dimmedPanelText: #B7C0CD;
$color-mutedPanelText: #475364;
$color-lightGrey: #DFE4EE;
$color-secondaryContent: #FAFBFC;
$color-tableHeading: #F5F8FA;

$color-info-dark: #3DB2DC;
$color-danger-dark: #C8324A;
$color-warning-dark: #F38F1E;
$color-success-dark: #33C1AC;

$color-blue-dark: #2D72C9;
$color-teal-dark: #2FC3C5;
$color-red-dark: #D33E3E;
$color-orange-dark: #EE7B35;
$color-purple-dark: #4A52CD;
$color-primary-dark: #4A52CD;
$color-secondary-dark: #33C1AC;

$color-presets: (
    'primary': $color-primary,
    'secondary': $color-secondary,
    'success': $color-success,
    'danger': $color-danger,
    'warning': $color-warning,
    'base': $color-base,
    'general': $color-general,
    'white': $palette-white,
    'info': $color-primary,
);

%clearfix {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}

%card {
    background: white;
    // box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: $radius;
}

@mixin readable-text() {
    font-size: $font-size-medium;
    line-height: 1.7;
}

/* stylelint-disable */

// Media Query
// -----------
@mixin media-query( $smaller-than: false, $bigger-than: false ) {

    //Check if both constraints are provided
    @if $smaller-than and $bigger-than {
        @media (min-width: $bigger-than) and (max-width: $smaller-than) { @content }
    }

    @else if $smaller-than  { @media (max-width: #{($smaller-than/1px)-1}px ) { @content } }
    @else if $bigger-than   { @media (min-width: $bigger-than) { @content } }

}

// Breakpoints
// -----------
@mixin breakpoint($size, $only:false){

    //ExtraSmall
    @if $size == xs {
        @include media-query($bigger-than: $screen-xs-min) { @content }
    }

    //Small
    @if $size == small {
        @include media-query($bigger-than: $screen-sm) { @content }
    }

    //medium
    @else if $size == medium {
        @include media-query($bigger-than: $screen-md) { @content }
    }

    //large
    @else if $size == large {
        @include media-query($bigger-than: $screen-lg) { @content }
    }

    //large
    @else if $size == xl {
        @include media-query($bigger-than: $screen-xl) { @content }
    }

    @else {
        @include media-query($bigger-than: $size) { @content }
    }
}
