@import 'theme';

.finalCTA {
    .finalCTA__content {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    span {
        display: inline-block;
    }
}
