@import 'theme';

.mapCoverageArea {
    background-color: $background-primary;
    color: $body-text-secondary;
    padding-top: 20px;

    &__image {
        text-align: center;

        @include desktop {
            margin: -40px 0 0 0;
        }

        img {
            max-height: 240px;
        }
    }

    &__content {
        @include tablet {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(107,124,147,0.12);
            margin-bottom: 1.3rem;
        }
    }

    &__footer {
        color: $brand-primary;
        font-weight: $font-weight-bold;
    }
}
