@import 'theme';
@import 'icons';
.grid__cell{
    @include screen-sm{
        padding:0 10px;

    }

}
.card {

    background-color: $background-primary;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px) scale3d(1.01,1.01,1);
    box-shadow: 0 14px 20px rgba(0,0,0,.12);
    transition: .2s;
    cursor: pointer;
}

.card__content {
    padding: 15px;
    width: 100%;
    flex-grow: 1;
    align-content: center;
}

.card__footer {
    font-weight: $font-weight-bold;
    font-size: 14px;
    padding: 15px;
    border-top: 1px solid rgba(0,0,0,0.1);
    flex-grow: 2;
    align-self: flex-end;

}

.card__header {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 50px;
    align-self: end;

    &:before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: $brand-primary;
    }

    .card__media {
        width: 100%;
        position: absolute;
        top: -25px;
    }
}

.card__washing {
    .card__title,
    .card__link {
        color: $color-washing;
    }

    .card__header {
        &:before {
            background: $color-gradient-washing;
        }
    }
}

.card__drycleaning {
    .card__title,
    .card__link {
        color: $color-drycleaning;
    }

    .card__header {
        &:before {
            background: $color-gradient-drycleaning;
        }
    }
}

.card__tailoring {
    .card__title,
    .card__link {
        color: $color-tailoring;
    }

    .card__header {
        &:before {
            background: $color-gradient-tailoring;
        }
    }
}
