@import 'theme';

$pulse-1: 1.2;
$pulse-2: 1.5;

@keyframes pulse {
    from {
        transform: scale3d($pulse-1, $pulse-1, $pulse-1);
    }

    50% {
        transform: scale3d($pulse-2, $pulse-2, $pulse-2);
    }

    to {
        transform: scale3d($pulse-1, $pulse-1, $pulse-1);
    }
}

.container {
    cursor: pointer;
    outline: none;

    &--switch {
        width: 100%;
    }
}

.block {
    @extend %clearfix;
    display: block;
    margin-bottom: $gutter;
}

.label {
    color: $color-dimmedText;

    .block & {
        display: block;
        float: left;
    }

    .container:hover & {
        color: $color-darkText;
    }
}

.switch {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: $gutter;
    float: left;

    .block & {
        float: right;
    }

    .align-left & {
        float: left;
        margin-left: $gutter;
        margin-right: 0;
    }

    &__track {
        vertical-align: middle;
        display: inline-block;
        background-color: $palette-grey300;
        width: 40px;
        height: $font-size;
        border-radius: 100px;
        transition: 0.2s ease;

        .checked & {
            background-color: lighten($color-primary, 20%);
        }
    }

    &__head {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 0;
        transition: 0.12s cubic-bezier(0.4, 0, 0.22, 1);
        width: 20px;
        height: 20px;
        background-color: $palette-grey400;
        border-radius: 100%;

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $palette-grey400;
            border-radius: 100px;
            opacity: 0.3;
        }

        .checked & {
            background-color: $color-primary;
            left: 20px;

            &:before {
                background-color: $color-primary;
            }
        }

        .container:active &,
        .container:focus & {
            // box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        }

        .container:focus &:before {
            animation: pulse 1s infinite;
        }
    }
}

@each $kind, $color in $color-presets {
    .#{$kind} {
        &.checked {
            .switch__track {
                background-color: lighten($color, 20%);
            }

            .switch__head {
                background-color: $color;
            }
        }
    }
}
