@import 'theme';

.footer {
    .footer__logo {
        width: 150px;
        height: 23px;
        margin-bottom: 5px;
    }

    .footer__item {
        padding: 0 15px;
    }

    .navList__item {
        .navList__link {
            color: $body-text;
            display: block;
            padding: 5px 0;
            text-decoration: underline;

            &:hover {
                color: $brand-primary;
            }
        }
    }

    .socialMediaIcons {
        .navList__item {
            font-size: 20px;
            padding: 5px;
        }
    }

    .horiz {
        margin: 0;
        display: inline-flex;
    }
}
