

@import 'theme';

.paragraph {
    font-size: bold;
    margin-bottom: 1.3rem;
    line-height: 1.3;
    // color: $white;
    // font-family: 'Camphor', $font-family;
    // letter-spacing: 0.01em;


    &--fullPadding {
        padding-top: 1.5em;
    }

    &--noMargin {
        margin: 0;
    }

    &--weight-lighter {
        font-weight: $font-weight-lighter;
    }

    &--weight-light {
        font-weight: $font-weight-light;
    }

    &--weight-normal {
        font-weight: normal;
    }

    &--weight-semibold {
        font-weight: $font-weight-semibold;
    }

    &--weight-bold {
        font-weight: $font-weight-bold;
    }

    &--dim {
        color: $color-dimmedText;
    }
}

@each $kind, $color in $color-presets {
    .paragraph--#{$kind} {
        color: $color;
    }
}
