@import 'theme';

.paragraph {
    margin-bottom: 1.3rem;
    line-height: 1.3;
    word-break: break-word;

    &:last-child {
        margin-bottom: 0;
    }

    &--secondary {
        color: $color-secondaryText;
    }


    &--light {
        color: $color-dimmedText;
    }

    &--white {
        color: #fff;
    }


    &--large {
        font-size: 1.5rem;
    }
}
