@import 'theme';

.tooltip {
    position: relative;
}

.tooltipText {
    visibility: visible;
    text-transform: uppercase;
    font-size: 12px;
    width: 120px;
    background-color: rgba(255,255,255,0.15);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 1px 0;
    position: absolute;
    z-index: 1;
    bottom: 38px;
    left: 50%;
    margin-left: -60px;
    opacity: 1;
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255,255,255,0.15) transparent transparent transparent;
}
