@import 'theme';

.partnerShipCTA {
    font-weight: $font-weight-light;
    background: #494e56 url(../../assets/images/footer-cta-shape.png) 100% 50% no-repeat;
    background-size: contain;
    background-color: $brand-primary;

    .paragraph{
        color: $white;
    }
}
