@import 'theme';

.driverAppSection {
    background: url(../../assets/images/driver-map.png) 50% 50% no-repeat;
    background-size: cover;
}

.driverAppSection__content {
    @include tablet {
        padding-top: 50px;
    }

    @include desktop {
        padding-top: 100px;
    }
}
